textarea {
  width: 520px;
  height: 200px;
  font-family: Futura;
  position: inherit;
  font-size: 20px;
}

#reset {
  width: auto;
  height: auto;
}

.typeword {
  width: 500px;
  font-family: fantasy;
  position: inherit;
  font-size: 40px;
}

#input {
  width: 520px;
  height: 100px;
  font-family: Futura;
  position: inherit;
  font-size: 15px;
}

body {
  background: url(http://www.wallpapermaiden.com/image/2016/09/10/pig-big-front-view-muzzle-animal-5727.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: fantasy;
}

h1 {
  font-family: Futura;
  font-size: 70px;
  color: black;
  text-align: left;
  text-decoration: underline;
}

p {
  font-family: Futura;
  font-size: 40px;
  color: black;
  text-align: left;
}